<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Abdo Examen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Información del Estudiante</h1>
        <p><strong>Nombre:</strong> Diego Jose Abdo Estrada</p>
        <p><strong>Universidad:</strong> Universidad Rafael Landivar</p>
        <p><strong>Facultad:</strong> Facultad de Ingenieria</p>
        <p><strong>Curso:</strong> Sistemas Operativos</p>
    </div>
</body>
</html>
