<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Abdo Examen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Información del Estudiante</h1>
    </header>
    <div class="container">
        <div class="card">
            <h2>Datos Personalesjdfskjds</h2>
            <p><strong>Nombre:</strong> Diego Jose Abdo Estrada</p>
        </div>
        <div class="card">
            <h2>Datos Académicos</h2>
            <p><strong>Universidad:</strong> Universidad Rafael Landivar</p>
            <p><strong>Facultad:</strong> Facultad de Ingeniería</p>
            <p><strong>Curso:</strong> Sistemas Operativos</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Diego Abdo</p>
    </footer>
</body>
</html>
